body {
    background: #eceff1;
}

* {
    font-size: 16px;
    overflow-x: hidden;
}

* {
    font-family: ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: ;
    font-size: 2em;
    overflow: hidden;
}